body, input {
	font-family: sans-serif;
	font-size: 14px;
}

body {
	max-width: 60em;
}


/* Title */

h1, h2 {
	text-align: center;
}

h1 {
	margin-bottom: 0.25ex;
}

h2 {
	margin-top: 0.25ex;
	margin-bottom: 2ex;
}


/* Configuration Panel */

.config label {
	display: inline-block;
	width: 9em;
	text-align: right;
	vertical-align: baseline;
	padding-right: 0.5em;
}

.config input {
	width: 15em;
	margin-bottom: 0.5ex;
}



/* Stock Market Table */

.stockmarket {
	border-collapse: collapse;
	text-align: left;
	border: solid 1px lightgray;
	width: 100%;
}

.stockmarket td, .stockmarket th {
	padding: 0.5ex 0.25em 0.1ex 0.25em;
	border-left: solid 1px lightgray;
}

.stockmarket th {
	border-left-color: white;
}

.stockmarket tr {
	background-color: rgb(209, 229, 255);   /* light blue */
}

.stockmarket tr:nth-child(odd) {
	background-color: white;
}

.stockmarket th {
	background-color: lightgray;
}


/* Footer */

.footer {
	margin-top: 5ex;
	font-size: 0.75em;
	font-style: italic;
}