/* General */

body, input {
	font-family: sans-serif;
	font-size: 14px;
}

body {
	max-width: 60em;
}

.negative {
	color: red;
}

/* Title */

h1, h2 {
	text-align: center;
}

h1 {
	margin-bottom: 0.25ex;
}

h2 {
	margin-top: 0.25ex;
	margin-bottom: 2ex;
}


/* Configuration Panel */

.config label {
	display: inline-block;
	width: 9em;
	text-align: right;
	vertical-align: baseline;
	padding-right: 0.5em;
}

.config input {
	background: none;
	border: solid #aaa 1px;
	padding: 4px;
	width: 15em;
	margin-bottom: 0.5ex;
}

.config input.invalid {
	background: url('/invalid_dollars.png') no-repeat center right 4px;
}

/* Setting the background removes default focus highlighting (on Mac & Firefox, anyway). */
/* This works around that problem. */
.config input:focus {
	border-color: #00799c;
	box-shadow: inset 0 0 4px 0 #00799c;
}


/* Stock Market Table */

.stockmarket {
	border-collapse: collapse;
	text-align: left;
	border: solid 1px lightgray;
	width: 100%;
}

.stockmarket td, .stockmarket th {
	padding: 0.5ex 0.25em 0.1ex 0.25em;
	border-left: solid 1px lightgray;
}

.stockmarket th {
	border-left-color: white;
}

.stockmarket tr {
	background-color: rgb(209, 229, 255);   /* light blue */
}

.stockmarket tr:nth-child(odd) {
	background-color: white;
}

.stockmarket th {
	background-color: lightgray;
}


/* Footer */

.footer {
	margin-top: 5ex;
	font-size: 0.75em;
	font-style: italic;
}